In [1]:
import pandas as pd
from nba_api.stats.endpoints import teamgamelog
import time
import random
from team_games import get_team_log
from nba_api.stats.static import teams

/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0

In [13]:
df = pd.read_csv('league_games.csv')
df_filtered = df[['SEASON_ID', 'GAME_ID', 'GAME_DATE', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ID_2', 'TEAM_NAME_2']]
df_filtered.shape

(183, 7)

In [3]:
team_names = pd.DataFrame.from_records(teams.get_teams())['full_name']
all_team = get_team_log(team_names[0])
for team in team_names[1:]:
    time.sleep(random.uniform(0.5,1))
    new = get_team_log(team)
    all_team = pd.concat([all_team, new])

/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0
/Users/bormilan/Documents/GitHub/nba/team_games.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_stats.loc[len(train_stats), ['W', 'L', 'W_PCT']] = 0, 0, 0

In [7]:
all_team

    MATCHUP   GAME_ID     TEAM_ID    W    L  W_PCT  day_in_month  day_in_week
0        10  22200005  1610612737  0.0  0.0  0.000            19            3
1        21  22200020  1610612737  1.0  0.0  1.000            21            5
2         3  22200038  1610612737  2.0  0.0  1.000            23            0
3         8  22200057  1610612737  2.0  1.0  0.667            26            3
4         8  22200070  1610612737  3.0  1.0  0.750            28            5
..      ...       ...         ...  ...  ...    ...           ...          ...
8        14  22200125  1610612766  3.0  5.0  0.375             4            5
9         1  22200133  1610612766  3.0  6.0  0.333             5            6
10       29  22200144  1610612766  3.0  7.0  0.300             7            1
11       24  22200159  1610612766  3.0  8.0  0.273             9            3
12       15  22200174  1610612766  3.0  9.0  0.250            10            4

[366 rows x 8 columns]

In [5]:
all_team.columns = ['MATCHUP', 'GAME_ID', 'TEAM_ID', 'W', 'L', 'W_PCT', 'day_in_month', 'day_in_week']

In [6]:
df_filtered["GAME_ID"] = df_filtered["GAME_ID"].astype(int)
df_filtered["TEAM_ID"] = df_filtered["TEAM_ID"].astype(int)

all_team["GAME_ID"] = all_team["GAME_ID"].astype(int)
all_team["TEAM_ID"] = all_team["TEAM_ID"].astype(int)

/var/folders/yc/d2sjcyf91jsffksdjchc3vb40000gn/T/ipykernel_8355/2462852238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["GAME_ID"] = df_filtered["GAME_ID"].astype(int)
/var/folders/yc/d2sjcyf91jsffksdjchc3vb40000gn/T/ipykernel_8355/2462852238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["TEAM_ID"] = df_filtered["TEAM_ID"].astype(int)

In [8]:
joined = pd.merge(
    df_filtered, all_team, on=["GAME_ID", "TEAM_ID"]
)

In [9]:
joined

,SEASON_ID,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ID_2,TEAM_NAME_2,MATCHUP,W,L,W_PCT,day_in_month,day_in_week
0,22022,22200002,2022-10-18,1610612747,Los Angeles Lakers,1610612744,Golden State Warriors,9,0.0,0.0,0.000,18,2
1,22022,22200001,2022-10-18,1610612755,Philadelphia 76ers,1610612738,Boston Celtics,2,0.0,0.0,0.000,18,2
2,22022,22200012,2022-10-19,1610612762,Utah Jazz,1610612743,Denver Nuggets,7,0.0,0.0,0.000,19,3
3,22022,22200013,2022-10-19,1610612756,Phoenix Suns,1610612742,Dallas Mavericks,6,0.0,0.0,0.000,19,3
4,22022,22200014,2022-10-19,1610612758,Sacramento Kings,1610612757,Portland Trail Blazers,24,0.0,0.0,0.000,19,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,22022,22200179,2022-11-11,1610612761,Toronto Raptors,1610612760,Oklahoma City Thunder,20,7.0,5.0,0.583,11,5
179,22022,22200180,2022-11-11,1610612759,San Antonio Spurs,1610612749,Milwaukee Bucks,16,5.0,7.0,0.417,11,5
180,22022,22200181,2022-11-11,1610612763,Memphis Grizzlies,1610612750,Minnesota Timberwolves,17,8.0,4.0,0.667,11,5
181,22022,22200183,2022-11-11,1610612758,Sacramento Kings,1610612747,Los Angeles Lakers,13,4.0,6.0,0.400,11,5
182,22022,22200182,2022-11-11,1610612744,Golden State Warriors,1610612739,Cleveland Cavaliers,5,4.0,7.0,0.364,11,5

In [10]:
all_team.columns = ['MATCHUP', 'GAME_ID', 'TEAM_ID_2', 'W', 'L', 'W_PCT', 'day_in_month', 'day_in_week']

In [11]:
joined2 = pd.merge(
    joined, all_team, on=["GAME_ID", "TEAM_ID_2"]
)

In [12]:
joined2

,SEASON_ID,GAME_ID,GAME_DATE,TEAM_ID,TEAM_NAME,TEAM_ID_2,TEAM_NAME_2,MATCHUP_x,W_x,L_x,W_PCT_x,day_in_month_x,day_in_week_x,MATCHUP_y,W_y,L_y,W_PCT_y,day_in_month_y,day_in_week_y
0,22022,22200002,2022-10-18,1610612747,Los Angeles Lakers,1610612744,Golden State Warriors,9,0.0,0.0,0.000,18,2,13,0.0,0.0,0.000,18,2
1,22022,22200001,2022-10-18,1610612755,Philadelphia 76ers,1610612738,Boston Celtics,2,0.0,0.0,0.000,18,2,22,0.0,0.0,0.000,18,2
2,22022,22200012,2022-10-19,1610612762,Utah Jazz,1610612743,Denver Nuggets,7,0.0,0.0,0.000,19,3,28,0.0,0.0,0.000,19,3
3,22022,22200013,2022-10-19,1610612756,Phoenix Suns,1610612742,Dallas Mavericks,6,0.0,0.0,0.000,19,3,23,0.0,0.0,0.000,19,3
4,22022,22200014,2022-10-19,1610612758,Sacramento Kings,1610612757,Portland Trail Blazers,24,0.0,0.0,0.000,19,3,25,0.0,0.0,0.000,19,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,22022,22200179,2022-11-11,1610612761,Toronto Raptors,1610612760,Oklahoma City Thunder,20,7.0,5.0,0.583,11,5,27,4.0,7.0,0.364,11,5
179,22022,22200180,2022-11-11,1610612759,San Antonio Spurs,1610612749,Milwaukee Bucks,16,5.0,7.0,0.417,11,5,26,10.0,1.0,0.909,11,5
180,22022,22200181,2022-11-11,1610612763,Memphis Grizzlies,1610612750,Minnesota Timberwolves,17,8.0,4.0,0.667,11,5,14,5.0,7.0,0.417,11,5
181,22022,22200183,2022-11-11,1610612758,Sacramento Kings,1610612747,Los Angeles Lakers,13,4.0,6.0,0.400,11,5,25,2.0,9.0,0.182,11,5
182,22022,22200182,2022-11-11,1610612744,Golden State Warriors,1610612739,Cleveland Cavaliers,5,4.0,7.0,0.364,11,5,9,8.0,3.0,0.727,11,5